In [1]:
import numpy as np
import pandas as pd

In [8]:
coord = np.array([[2.3, 1.8],
[1.5, 4.7],
[3.8, 0.9],
[4.2, 2.1],
[0.7, 3.2],
[2.8, 4.3],
[1.1, 1.7],
[4.9, 3.8],
[3.1, 2.2],
[0.3, 0.6]])

y_ccord = coord[:, 1]
x_coord = coord[:, 0]

In [9]:
df = pd.DataFrame(coord, columns=['X', 'Y'])

In [10]:
df

     X    Y
0  2.3  1.8
1  1.5  4.7
2  3.8  0.9
3  4.2  2.1
4  0.7  3.2
5  2.8  4.3
6  1.1  1.7
7  4.9  3.8
8  3.1  2.2
9  0.3  0.6

In [ ]:
demand =